PORT=4000
FRONTEND_URL=http://localhost:3000
JWT_SECRET=super-secret
JWT_EXPIRES_IN=1h
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=conatus_reembolso
# Você também pode usar DATABASE_URL=postgres://user:pass@host:5432/db
SEED_PASSWORD=admin123
